{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitchel M (Mumiak)</title>
    <link href="{% static '/css/styles.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <img id="profile-pic" src="/media/profile.jpg" alt="Mitchel M">
                    <hr>
                    <h4>Hi, I'm Mitchel!</h4>
                    <p>I have a deep appreciation for coding, engaging in research, and fostering collaboration.</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>My First Project as a Junior Developer</h4>
                    <hr>
                    <p>Upon completing the Meta Backend Professional Certificate Course, I embarked on a project with
                        the goal of expanding my knowledge of Backend technologies, such as Django, SQLite, DRF, and
                        other related technologies.</p>

                    <p>The project I worked on was a Blood Bank Management System. This system enabled donor
                        registration, beneficiary registration, inventory management, and information management.</p>

                    <p>Social Links:</p>

                    <ul class="social-links">
                        <li><img class="social" src="/media/linkedin.png"></li>
                        <li><img class="social" src="/media/twitter.png"></li>
                        <li><img class="social" src="/media/github.png"></li>
                        <li><img class="social" src="/media/codepen.png"></li>
                        <li><img class="social" src="/media/hackerrank.png"></li>
                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Junior Developer</h5>
                    <hr>
                    <p>Currently Open to New Opportunities</p>
                    <p>After working on a few personal projects, I am convinced that an internship or entry-level
                        opportunity would allow me to acquire practical experience, enhancing my skills to an advanced
                        level.</p>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Areas of Expertise</h5>
                    <hr>
                    <p>I possess proficiency in Python, Django, HTML/CSS, JavaScript, React, SQL, Version Control
                        Systems, and a plethora of other technologies that can't all be listed in a single sentence! ;)
                    </p>
                    <p>PS: I'm actively honing my skills in UI/UX and Front-End Development.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Learning Approach</h5>
                    <hr>
                    <p>I adopt a hands-on learning style. Practical experience is my preferred method, as it allows me
                        to gain a solid understanding of the fundamentals and also learn best coding practices, enabling
                        me to apply the theory I've acquired effectively.</p>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Short-Term Objectives</h5>
                    <hr>
                    <p>I'm prepared to join a development team, equipped with strong communication, collaboration, and
                        teamwork skills. I'm eager to learn and pay close attention to small details.</p>
                    <p>Additionally, I'm enthusiastic about contributing to open-source projects, as I believe it can be
                        a significant opportunity for growth and contribution.</p>

                </div>
            </div>
        </div>
        <br>
    </div>

</body>

</html>